@{ 
    Layout = null;
}
<div class="text-center logo-alt-box">
    <a href="#" class="logo">
        <img src="~/Images/color/logo_color_high.png" />
    </a>
</div>
<div class="panel panel-color panel-info" id="panelSinPrivilegios">
    <div class="panel-heading">
        <h3 class="panel-title">Aviso</h3>
    </div>
    <div class="panel-body">
        <p>No tiene privilegios para acceder a esta sección consulte con el administrador</p>
    </div>
</div>
