@model CatarsysLab_Fact.Models.DashboardModel
@{
    ViewBag.Title = "Home Page";
}

<div class="container">

    <div class="row" id="fnTablaPendienteFacturas">
        @*<div class="col-md-6">
                <div>Pendiente por facturar</div>
                <div class="card-box table-responsive">
                    <table id="datatablePendiente" class="table table-striped dt-responsive nowrap dataTable no-footer dtr-inline" role="grid" aria-describedby="datatable_info">
                        <thead>
                            <tr>
                                <th>Cuando</th>
                                <th>Cliente</th>
                                <th>Concepto</th>
                                <th>Monto</th>
                                <th>Semáforo</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <th>Ayer</th>
                                <th>Temenos</th>
                                <th>Asignación - Carlos Berrios</th>
                                <th>$12000.00</th>
                                <th><div class="semRojo"></div></th>
                            </tr>
                            <tr>
                                <th>hot</th>
                                <th>Kidzania</th>
                                <th>Asignación - Carlos Berrios</th>
                                <th>$18000.00</th>
                                <th><div class="semVerde"></div></th>
                            </tr>
                            <tr>
                                <th>Ayer</th>
                                <th>Temenos</th>
                                <th>Asignación - Carlos Berrios</th>
                                <th>$12000.00</th>
                                <th><div class="semVerde"></div></th>
                            </tr>
                            <tr>
                                <th>Ayer</th>
                                <th>Temenos</th>
                                <th>Asignación - Carlos Berrios</th>
                                <th>$12000.00</th>
                                <th><div class="semVerde"></div></th>
                            </tr>
                            <tr>
                                <th>Ayer</th>
                                <th>Temenos</th>
                                <th>Asignación - Carlos Berrios</th>
                                <th>$12000.00</th>
                                <th><div class="semVerde"></div></th>
                            </tr>
                            <tr>
                                <th>Ayer</th>
                                <th>Temenos</th>
                                <th>Asignación - Carlos Berrios</th>
                                <th>$12000.00</th>
                                <th><div class="semVerde"></div></th>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>*@
        <div class="col-md-6">
            <div>Servicios Actuales</div>
            <div class="form-group col-md-12">
                <div class="contEstado col-md-6  col-centered">
                    <label class="radio-inline">
                        <input type="radio" name="estado" tabindex="16" value="1" id="rdSI">SI
                    </label>
                    <label class="radio-inline">
                        <input type="radio" checked name="estado" tabindex="17" value="0" id="rdNO">NO
                    </label>
                </div>
            </div>
            <div class="card-box table-responsive">
                <table id="datatableServiciosActuales" class="table table-striped dt-responsive nowrap dataTable no-footer dtr-inline" role="grid" aria-describedby="datatable_info">
                    <thead>
                        <tr>
                            <th>Quien</th>
                            <th>Cliente</th>
                            <th>Ultima Factura</th>
                            <th>Termino</th>
                            <th>Semáforo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Yoli Jiménez</th>
                            <th>Temenos</th>
                            <th>12/12/2016</th>
                            <th>12/12/2018</th>
                            <th><div class="semVerde"></div></th>
                        </tr>
                        <tr>
                            <th>Carlos Berrios</th>
                            <th>Multiva</th>
                            <th>12/12/2016</th>
                            <th>12/12/2018</th>
                            <th><div class="semVerde"></div></th>
                        </tr>
                        <tr>
                            <th>Carmen Gonzalez</th>
                            <th>Temenos</th>
                            <th>12/12/2016</th>
                            <th>12/12/2018</th>
                            <th><div class="semVerde"></div></th>
                        </tr>
                        <tr>
                            <th>Carlos Berrios</th>
                            <th>Temenos</th>
                            <th>12/12/2016</th>
                            <th>12/12/2018</th>
                            <th><div class="semVerde"></div></th>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-6">
            <div>Proximos Ingresos</div>
            <div class="card-box table-responsive">
                <table id="datatableProximosIngresos" class="table table-striped dt-responsive nowrap dataTable no-footer dtr-inline" role="grid" aria-describedby="datatable_info">
                    <thead>
                        <tr>
                            <th>Fecha Pago</th>
                            <th>Cliente</th>
                            <th>Factura/Concepto</th>
                            <th>Monto</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Yoli Jiménez</th>
                            <th>Temenos</th>
                            <th>12/12/2016</th>
                            <th>Asignación - Carlos Berrios</th>
                            <th>$12000.00</th>
                        </tr>
                        <tr>
                            <th>Carlos Berrios</th>
                            <th>Multiva</th>
                            <th>12/12/2016</th>
                            <th>Asignación - Carlos Berrios</th>
                            <th>$12000.00</th>
                        </tr>
                        <tr>
                            <th>Carmen Gonzalez</th>
                            <th>Temenos</th>
                            <th>12/12/2016</th>
                            <th>Asignación - Carlos Berrios</th>
                            <th>$12000.00</th>
                        </tr>
                        <tr>
                            <th>Carlos Berrios</th>
                            <th>Temenos</th>
                            <th>12/12/2016</th>
                            <th>Asignación - Carlos Berrios</th>
                            <th>$12000.00</th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        @*<div class="col-md-6">
                <div>Cartera Vencida</div>
                <div class="card-box table-responsive">
                    <table id="datatableCarteraVencida" class="table table-striped dt-responsive nowrap dataTable no-footer dtr-inline" role="grid" aria-describedby="datatable_info">
                        <thead>
                            <tr>
                                <th>Quien</th>
                                <th>Factura</th>
                                <th>Días</th>
                                <th>Total</th>
                                <th>Semáforo</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>Temenos</th>
                                <th>F223</th>
                                <th>5</th>
                                <th>$12000.00</th>
                                <th><div class="semRojo"></div></th>
                            </tr>
                            <tr>
                                <th>Multiva</th>
                                <th>F236 F237</th>
                                <th>5</th>
                                <th>$12000.00</th>
                                <th><div class="semRojo"></div></th>
                            </tr>
                            <tr>
                                <th>Temenos</th>
                                <th>F256 F268</th>
                                <th>5</th>
                                <th>$12000.00</th>
                                <th><div class="semAmarillo"></div></th>
                            </tr>
                            <tr>
                                <th>Temenos</th>
                                <th>F245 F251</th>
                                <th>5</th>
                                <th>$12000.00</th>
                                <th><div class="semRojo"></div></th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>*@
    </div>

    <script src="~/Scripts/Dashboard.js"></script>

</div> <!-- container -->
