@model CatarsysLab_Fact.Models.DashboardModel
@{
    ViewBag.Title = "Home Page";
}

@Scripts.Render("~/Plugins/datatTables")

<div class="container">
    @*Pendientes por Facturar*@
    <div class="row">
        <div class="col-sm-6">
            <div class="card-box table-responsive"> 

                <h4 class="header-title m-t-0 m-b-30">Pendientes por Facturar</h4>
                    <div class="form-group col-md-6">
                        <div class="col-md-9">
                            <div class="input-group">
                                <input type="text" class="form-control dateFilter" placeholder="dd/mm/yyyy" id="datepickerPendientes" tabindex="5">
                                <span class="input-group-addon bg-primary b-0 text-white"><i class="ti-calendar"></i></span>
                            </div><!-- input-group -->
                        </div>
                    </div>
                    <table id="datatable" class="table table-striped dt-responsive nowrap dataTable no-footer dtr-inline" role="grid" aria-describedby="datatable_info">
                        <thead>
                            <tr>
                                <th>IdAsignacion</th>
                                <th>Cuando</th>
                                <th>Cliente</th>
                                <th>Concepto</th>
                                <th>Monto</th>
                                <th class="semaphoreValue">Estado</th>

                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th colspan="4" style="text-align:right">Total:</th>
                                <th class="tFacVencidas"></th>
                            </tr>
                        </tfoot>
                        <tbody></tbody>
                    </table>
                </div>
        </div>
    <!--/div>-->

    @*Servicios Actuales*@
    <!--<div class="row">-->
    <div class="col-sm-6">
        <div class="card-box table-responsive">

            <h4 class="header-title m-t-0 m-b-30">Servicios Actuales</h4>
            <div class="form-group col-md-6">
                <div class="col-md-9">
                    <div class="input-group">
                        <label class="radio-inline">
                            <input type="radio" name="servTyperadio" value="A" checked="checked">Asignaciones
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="servTyperadio" value="P">Proyectos
                        </label>
                    </div><!-- input-group -->
                </div>
            </div>

            <table id="datatableServActuales" class="table table-striped dt-responsive nowrap dataTable no-footer dtr-inline" role="grid" aria-describedby="datatable_info">
                <thead>
                    <tr>
                        <th>IdAsignacion_Proyecto</th>
                        <th id="typeServicio">Quien</th>
                        <th>Cliente </th>
                        <th>Última Factura </th>
                        <th>Termino</th>
                        <th class="semaphoreServicio">Estado</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div><!-- end col -->
    </div>

    @*Próximos Ingresos*@
    <div class="row">
        <div class="col-sm-6">
            <div class="card-box table-responsive">

                <h4 class="header-title m-t-0 m-b-30">Próximos Ingresos</h4>
                <div class="form-group col-md-6">
                    <div class="col-md-9">
                        <div class="input-group">
                            <input type="text" class="form-control dateFilter" placeholder="dd/mm/yyyy" id="datepickerIngresos" tabindex="5">
                            <span class="input-group-addon bg-primary b-0 text-white"><i class="ti-calendar"></i></span>
                        </div><!-- input-group -->
                    </div>
                </div>
                <table id="datatableProxIngresos" class="table table-striped dt-responsive nowrap dataTable no-footer dtr-inline" role="grid" aria-describedby="datatable_info">
                    <thead>
                        <tr>
                            <th>IdAsignacion</th>
                            <th>Fecha Pago</th>
                            <th>Cliente</th>
                            <th>Factura / Concepto</th>
                            <th>Monto</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th colspan="4" style="text-align:right">Total:</th>
                            <th class="tProxIngresos"></th>
                        </tr>
                    </tfoot>
                    <tbody></tbody>
                </table>
            </div>
        </div><!-- end col -->
    @*</div>*@

   

    @*Cartera Vencida*@
    @*<div class="row">*@
        <div class="col-sm-6">
            <div class="card-box table-responsive">

                <h4 class="header-title m-t-0 m-b-30">Cartera Vencida</h4>
                <table id="datatableCarVencida" class="table table-striped dt-responsive nowrap dataTable no-footer dtr-inline" role="grid" aria-describedby="datatable_info">
                    <thead>
                        <tr>
                            <th>Quien</th>
                            <th>Factura</th>
                            <th>Días</th>
                            <th>Monto</th>
                            <th class="semaphoreCVencida">Estado</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th colspan="3" style="text-align:right">Total:</th>
                            <th class="tCarteraVencidaResult"></th>
                        </tr>
                    </tfoot>
                    <tbody></tbody>
                </table>
            </div>
        </div><!-- end col -->
    </div>



        <script src="~/Scripts/Dashboard.js"></script>
        <link href="~/Content/Dashboard.css" rel="stylesheet">


    </div> <!-- container -->
