@model List<DTO.Gestion.EmpleadoPermisoDTO>

@{
    Layout = null;

    
}

<div class="sidebar-inner slimscrollleft">
    <!--- Divider -->
    <div id="sidebar-menu">
        <ul>

            <li class="text-muted menu-title">Navigation</li>
            @if (Model.Exists(x => x.Id_Permiso == 1))
            {
                <li class="has_sub">
                    <a href="/" class="waves-effect"><i class="zmdi zmdi-view-dashboard"></i> <span> Dashboard </span> </a>
                </li>
            }
            @if (Model.Exists(x => x.Id_Permiso == 2))
            {
                <li class="has_sub">
                    <a href="/Gestion/Asignaciones" class="waves-effect"><i class="zmdi zmdi-assignment-account"></i> <span> Asignaciones </span> </a>
                </li>
            }
            @if (Model.Exists(x => x.Id_Permiso == 3))
            {
                <li class="has_sub">
                    <a href="/Gestion/Proyectos" class="waves-effect"><i class="zmdi zmdi-assignment-check"></i> <span> Proyectos </span> </a>
                </li>
            }
            @if (Model.Exists(x => x.Id_Permiso == 4))
            {
                <li class="has_sub">
                    <a href="/Gestion/Facturacion" class="waves-effect"><i class="zmdi zmdi-money"></i> <span> Facturas </span> </a>
                </li>
            }


            @if (Model.Exists(x => x.Id_Permiso == 5))
            {
                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect"><i class="zmdi zmdi-settings"></i> <span> Configuración</span> <span class="menu-arrow"></span> </a>
                    <ul class="list-unstyled">
                        @if (Model.Exists(x => x.Id_Permiso == 6))
                        {
                        <li><a href="/Configuracion/Empresas"><i class="zmdi zmdi-home"></i> <span>Empresas</span></a></li>}
                        @if (Model.Exists(x => x.Id_Permiso == 7))
                        {
                        <li><a href="/Configuracion/Clientes"><i class="zmdi zmdi-accounts"></i> <span>Clientes</span></a></li>}
                        @if (Model.Exists(x => x.Id_Permiso == 8))
                        {
                        <li><a href="/Configuracion/Empleados"><i class="zmdi zmdi-male"></i> <span>Empleados</span></a></li>}
                    </ul>
                </li>
            }

        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>

</div>
