
.title {
    font-size: 30px;
    text-align: center;
    color: white !important;
    width: 70%;
}

@media (max-width: 360px) {
    .title {
        font-size: 9px;
        width: 40%;
    }
}

@media (min-width: 361px) and (max-width: 600px) {
    .title {
        font-size: 12px;
        width: 50%;
    }
}



#imgLogo {
    max-height: 60px;
}

#datatable .sorting,
#datatable .sorting_asc,
#datatable .sorting_desc,
#datatable .sorting_asc_disabled,
#datatable .sorting_desc_disabled {
    cursor: pointer;
    position: relative;
}

    #datatable .sorting:after,
    #datatable .sorting_asc:after,
    #datatable .sorting_desc:after {
        position: absolute;
        top: 8px;
        right: 8px;
        display: block;
        font-family: 'Glyphicons Halflings';
        opacity: 0.5;
    }

    #datatable .sorting:after {
        opacity: 0.2;
        content: "\e150"; /* sort */
    }

    #datatable .sorting_asc:after {
        content: "\e155"; /* sort-by-attributes */
    }

    #datatable .sorting_desc:after {
        content: "\e156"; /* sort-by-attributes-alt */
    }

    #datatable .sorting_asc_disabled:after,
    #datatable .sorting_desc_disabled:after {
        color: #eee;
    }

#datatable_wrapper .dt-buttons {
    float: right;
}

#datatable {
    margin-top: 20px;
}

#datatable_wrapper .pagination {
    float: right;
}

#datatable_info {
    display: none;
}

#datatable_filter label {
    float: right;
}

.itemHeader {
    margin-top: 10px;
}


.form-horizontal label {
    text-align: left !important;
    font-size: 90%;
    font-weight: normal;
}

.errorMsg {
    color: red;
    font-size: 10px;
    margin-top: -10px;
    margin-bottom: 10px;
}

.errorMsg2 {
    color: red;
    font-size: 10px;
    margin-top: -10px;
    margin-bottom: 10px;
}

.inputError {
    border: 2px solid red !important;
}

#btnVerFacturas {
    float: right;
    margin-right: 5%;
}

.contEstado {
}

.col-centered {
    float: none;
    margin: 0 auto;
}

#datatableFacturasProyecto .sorting,
#datatableFacturasProyecto .sorting_asc,
#datatableFacturasProyecto .sorting_desc,
#datatableFacturasProyecto .sorting_asc_disabled,
#datatableFacturasProyecto .sorting_desc_disabled {
    cursor: pointer;
    position: relative;
}

    #datatableFacturasProyecto .sorting:after,
    #datatableFacturasProyecto .sorting_asc:after,
    #datatableFacturasProyecto .sorting_desc:after {
        position: absolute;
        top: 8px;
        right: 8px;
        display: block;
        font-family: 'Glyphicons Halflings';
        opacity: 0.5;
    }

    #datatableFacturasProyecto .sorting:after {
        opacity: 0.2;
        content: "\e150"; /* sort */
    }

    #datatableFacturasProyecto .sorting_asc:after {
        content: "\e155"; /* sort-by-attributes */
    }

    #datatableFacturasProyecto .sorting_desc:after {
        content: "\e156"; /* sort-by-attributes-alt */
    }

    #datatableFacturasProyecto .sorting_asc_disabled:after,
    #datatableFacturasProyecto .sorting_desc_disabled:after {
        color: #eee;
    }

#datatableFacturasProyecto {
    margin-top: 20px;
}

#contAgregar {
    max-height: 74vh;
    overflow-y: auto;
    box-shadow: 1px 1px 2px;
}

#fnGuardarAsignacion, #fnGuardarProyecto, #fnGuardar {
    width: 96%;
    margin: auto;
}

#agregarAsgContacto {
    float: right;
}

#datatableServActuales tbody tr:hover,
#datatableCarVencida tbody tr:hover,
#datatableProxIngresos tbody tr:hover,
#datatableContactos tbody tr:hover,
#datatableFacturasProyecto tbody tr:hover,
#datatable tbody tr:hover {
    opacity: 0.7;
    box-shadow: 1px 1px 8px;
    cursor: pointer;
}




#datatableServiciosActuales .sorting,
#datatableServiciosActuales .sorting_asc,
#datatableServiciosActuales .sorting_desc,
#datatableServiciosActuales .sorting_asc_disabled,
#datatableServiciosActuales .sorting_desc_disabled {
    cursor: pointer;
    position: relative;
}

    #datatableServiciosActuales .sorting:after,
    #datatableServiciosActuales .sorting_asc:after,
    #datatableServiciosActuales .sorting_desc:after {
        position: absolute;
        top: 8px;
        right: 8px;
        display: block;
        font-family: 'Glyphicons Halflings';
        opacity: 0.5;
    }

    #datatableServiciosActuales .sorting:after {
        opacity: 0.2;
        content: "\e150"; /* sort */
    }

    #datatableServiciosActuales .sorting_asc:after {
        content: "\e155"; /* sort-by-attributes */
    }

    #datatableServiciosActuales .sorting_desc:after {
        content: "\e156"; /* sort-by-attributes-alt */
    }

    #datatableServiciosActuales .sorting_asc_disabled:after,
    #datatableServiciosActuales .sorting_desc_disabled:after {
        color: #eee;
    }

#datatableServiciosActuales {
    margin-top: 20px;
}

.checkboxPer {
    margin-left: 25px;
}

input:read-only {
    cursor: not-allowed !important;
}

.ContCargar {
}

#FileUpload1 {
    width: 100%;
    background: #2196f3;
    color: white;
    height: 34px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: pointer !important;
        display: block;
    }

#objVistaPrevia {
    width: 100%;
    height: 70vh;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px;
}


/*Dashboard Tables*/

/*Prox Ingresos*/
#datatableServActuales .sorting,
#datatableServActuales .sorting_asc,
#datatableServActuales .sorting_desc,
#datatableServActuales .sorting_asc_disabled,
#datatableServActuales .sorting_desc_disabled {
    cursor: pointer;
    position: relative;
}

    #datatableServActuales .sorting:after,
    #datatableServActuales .sorting_asc:after,
    #datatableServActuales .sorting_desc:after {
        position: absolute;
        top: 8px;
        right: 8px;
        display: block;
        font-family: 'Glyphicons Halflings';
        opacity: 0.5;
    }

    #datatableServActuales .sorting:after {
        opacity: 0.2;
        content: "\e150"; /* sort */
    }

    #datatableServActuales .sorting_asc:after {
        content: "\e155"; /* sort-by-attributes */
    }

    #datatableServActuales .sorting_desc:after {
        content: "\e156"; /* sort-by-attributes-alt */
    }

    #datatableServActuales .sorting_asc_disabled:after,
    #datatableServActuales .sorting_desc_disabled:after {
        color: #eee;
    }

#datatableServActuales {
    margin-top: 20px;
}


/*Prox Ingresos*/
#datatableProxIngresos .sorting,
#datatableProxIngresos .sorting_asc,
#datatableProxIngresos .sorting_desc,
#datatableProxIngresos .sorting_asc_disabled,
#datatableProxIngresos .sorting_desc_disabled {
    cursor: pointer;
    position: relative;
}

    #datatableProxIngresos .sorting:after,
    #datatableProxIngresos .sorting_asc:after,
    #datatableProxIngresos .sorting_desc:after {
        position: absolute;
        top: 8px;
        right: 8px;
        display: block;
        font-family: 'Glyphicons Halflings';
        opacity: 0.5;
    }

    #datatableProxIngresos .sorting:after {
        opacity: 0.2;
        content: "\e150"; /* sort */
    }

    #datatableProxIngresos .sorting_asc:after {
        content: "\e155"; /* sort-by-attributes */
    }

    #datatableProxIngresos .sorting_desc:after {
        content: "\e156"; /* sort-by-attributes-alt */
    }

    #datatableProxIngresos .sorting_asc_disabled:after,
    #datatableProxIngresos .sorting_desc_disabled:after {
        color: #eee;
    }

#datatableProxIngresos {
    margin-top: 20px;
}

  /*Cartera Vencida*/
    #datatableCarVencida .sorting,
    #datatableCarVencida .sorting_asc,
    #datatableCarVencida .sorting_desc,
    #datatableCarVencida .sorting_asc_disabled,
    #datatableCarVencida .sorting_desc_disabled {
        cursor: pointer;
        position: relative;
    }

        #datatableCarVencida .sorting:after,
        #datatableCarVencida .sorting_asc:after,
        #datatableCarVencida .sorting_desc:after {
            position: absolute;
            top: 8px;
            right: 8px;
            display: block;
            font-family: 'Glyphicons Halflings';
            opacity: 0.5;
        }

        #datatableCarVencida .sorting:after {
            opacity: 0.2;
            content: "\e150"; /* sort */
        }

        #datatableCarVencida .sorting_asc:after {
            content: "\e155"; /* sort-by-attributes */
        }

        #datatableCarVencida .sorting_desc:after {
            content: "\e156"; /* sort-by-attributes-alt */
        }

        #datatableCarVencida .sorting_asc_disabled:after,
        #datatableCarVencida .sorting_desc_disabled:after {
            color: #eee;
        }

#datatableCarVencida {
    margin-top: 20px;
}




/*End*/
#panelSinPrivilegios {
    margin-top: 15vh;
}

/*Modal Cargando*/

#ModalCargando {
    position: absolute;
    background: rgba(0,0,0,0.8);
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    display:none;

}
#CntModalCargando {
    display: -moz-box; /* Firefox */
    display: -webkit-box; /* Safari and Chrome */
    display: -ms-flexbox; /* Internet Explorer 10 */
    display: flex;
    display: -webkit-flex; /* Safari 7 */
    width: 100vw;
    height: 100vh;
}
#ImgModalCargando {
    width: 8vh;
    margin: auto;
}

/*legend Modal Cargando*/